# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# VS Garbage
Compiler/
Debug/
*.sdf
*.sln
*.vcxproj
*.filters
*.opensdf
*.suo

# Others
test.cs13
